<form #f="ngForm" name="form" id="form" novalidate>
  <div class="flexcontainer">
    <div class="firstColumn">
      <div>
        <div>
          <div class="logo">
            <img class="navLogo" src="{{ logo }}" />
          </div>
          <div style="float:right;margin-top: -60px">
            <select name="language" class="select-text">
              <option value="en-CA">
                {{ 'english' | translate }}
              </option>
              <option value="fr-CA">
                {{ 'french' | translate }}
              </option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
          </div>
        </div>
        <div style="margin-top:200px"><img class="banner" src="{{ banner }}" /></div>
      </div>
    </div>
    <div class="secondColumn">
      <div style="margin-top:37%;margin-left:15px">
        <span class="loginTitle">{{ 'login' | translate }}</span>
        <div class="group">
          <input type="text" name="UserName" [(ngModel)]="username" #userName="ngModel" required />
          <span class="highlight"></span>
          <label>{{ 'usernameoremail' | translate }}</label>
          <div *ngIf="userName.invalid && (f.submitted || userName.dirty)" class="invalid-feedback">
            <div *ngIf="userName.errors.required">Please enter a UserName</div>
          </div>
        </div>
        <div>&nbsp;</div>
        <div class="group">
          <input type="password" name="UserName" [(ngModel)]="password" #passsWord="ngModel" name="Password" required />
          <span class="highlight"></span>
          <label>{{ 'password' | translate }}</label>
          <div *ngIf="passsWord.invalid && (f.submitted || passsWord.dirty)" class="invalid-feedback">
            <div *ngIf="passsWord.errors.required">Please enter a password</div>
          </div>
        </div>
        <button class="button black">{{ 'login' | translate }}</button>
        <br />
        <div style="margin-top:20px">
          <a>{{ 'forgotpassword' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</form>
